@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    transition: all;
    transition-duration: 1s;
}
/* utility */
.margin_TB1{margin-top: 1rem; margin-bottom: 1rem;}
.padding_1{padding: 1rem;}
.margin_L1{margin-left: 1rem;}
.margin_LR1{margin-left: 1rem; margin-right: 1rem;}
.margin_LR2{margin-left: 2rem; margin-right: 2rem;}
.margin_R1{margin-right: 1rem;}
.margin_R2{margin-right: 2rem;}
.margin_T1{margin-top: 1rem;}
.flex{display: flex;}
.flex_col{display: flex; flex-direction: column;}
.justify_content_FE{justify-content: flex-end;}
.justify_content_FS{justify-content: flex-start;}
.align_items_FE{align-items: flex-end;}
.align_items_FS{align-items: flex-start;}
.margin_B1{margin-bottom: 1rem;}
.positionR{position: relative;}
.positionA{position: absolute;}
.align_items_CE{align-items: center;}
.align_items_SB{align-items: space-between;}
.justify_content_CE{justify-content: center;}
.justify_content_SB{justify-content: space-between;}
.justify_content_SA{justify-content: space-around;}
.border_R{border-right: 1px solid black;}
.border_L{border-left: 1px solid black;}
.border_B{border-bottom: 1px solid black;}
.width_100{width: 100%;}
.positionS_top{position: sticky; top: 0px;}
.flex_row_reverse{display: flex; flex-direction: row-reverse;}
.text_align_right{text-align: right;}
.flex_wrap{flex-wrap: wrap;}
/* --------------- */
#display{
    width: 80%;
    height: 30vh;
    background-color: white;
    border-radius: 10px;
    margin-left: 11rem;
}
.content{
    background-color: rgb(41, 41, 41);
    height: 100vh;
    width: 100vw;
}
.fix_img{
    height: 100px;
    width: 110px;
}
.fix_img_fight{
    height: 200px;
    width: 210px;
}
.card{
    border: 10px solid rgb(19, 70, 83);
    text-align: center;
    height: 30vh;
    width: 20%;
    color: black;
    background-color: white;
    border-radius: 10px;
    font-size: 1.5rem;
}
.card:hover{
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#card_content{
    margin-top: 2rem;
}
/*----------------animation-----------------
 *         animation slide-right
 * -----------------------------------------
 */
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
  }
/*----------------animation-----------------
 *         animation slide-left
 * -----------------------------------------
 */
.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-200px);
              transform: translateX(-200px);
    }
  }
/*----------------animation-----------------
 *         animation slide-in-center
 * -----------------------------------------
 */
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-in-center {
   0% {
     -webkit-transform: scale(0);
             transform: scale(0);
     opacity: 1;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     opacity: 1;
   }
 }
 @keyframes scale-in-center {
   0% {
     -webkit-transform: scale(0);
             transform: scale(0);
     opacity: 1;
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
     opacity: 1;
   }
 }